@import 'Root/style/variables.scss';

.header {
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 10px 20px $textColor05;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;
  min-height: 70px;
  margin: 0 auto;
  margin-top: 0;

  @media (max-width: 1024px) {
    margin-top: 10px;
  }
}

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  color: $textColor50;
  background-color: #fff;
  border: 2px solid $textColor50;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 1024px) {
    display: flex;
  }

  &::before {
    font-size: 30px;
    font-family: 'Material Icons', sans-serif;
    line-height: 24px;
    content: '\e5cf';
  }

  &:hover {
    color: $textColor75;
    border-color: $textColor75;
  }
}

.burgerOpened {
  &::before {
    content: '\e5ce';
  }
}

.navigation {
  display: flex;
  flex-grow: 1;

  @media (max-width: 1024px) {
    display: none;
    min-width: 100%;
    padding-bottom: 10px;
  }
}

.navigationVisible {
  display: flex;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  min-height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    min-height: 120px;
    padding: 0;
    padding-bottom: 10px;
  }
}

.titleSubMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 21px;
  list-style: none;
  cursor: pointer;

  @media (max-width: 1024px) {
    min-width: 100%;
    border-bottom: 1px solid $textColor50;
  }
}

.titleSubMenu:last-child {
  margin-right: 0;
}

.text {
  position: relative;
  display: block;
  color: $textColor50;
  font: 14px/17px $primaryFont;
  text-align: left;
  background-color: #fff;
  border: none;
  cursor: pointer;

  @media (max-width: 1024px) {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &:hover {
    color: $textColor75;
    font-weight: bold;
  }
}

.text::after {
  display: block;
  height: 0;
  overflow: hidden;
  font-weight: bold;
  visibility: hidden;
  content: attr(title);
}

.link {
  position: relative;
  display: block;
  color: $textColor50;
  line-height: 17px;
  text-align: left;
  text-decoration: none;

  @media (max-width: 1024px) {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &:hover {
    color: $textColor75;
    font-weight: bold;
  }
}

.link::after {
  display: block;
  height: 0;
  overflow: hidden;
  font-weight: bold;
  visibility: hidden;
  content: attr(title);
}

.arrow {
  display: inline-block;
  font: normal 24px/17px 'Material Icons', sans-serif;

  &::before {
    content: '\e5cf';
  }
}

.titleSubMenu .arrow {
  position: absolute;
  top: 1px;
  transition: all 0.2s;
}

.arrowActive {
  top: 3px;
  transform: rotateZ(-180deg) translateX(2px) translateY(3px);
}

.subMenu {
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  max-width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border-radius: 3px;

  @media (max-width: 1024px) {
    position: static;
    min-width: 100%;
  }
}

.activeSubMenu {
  display: flex;
}

.subMenuItem {
  padding: 10px 18px;
  border: none;

  @media (max-width: 1024px) {
    width: 100%;
    padding: 0;
    border-bottom: 1px dashed $textColor50;
  }
}

.subMenuItem:first-child {
  padding-top: 13px;
  border: none;

  @media (max-width: 1024px) {
    padding: 0;
    border-top: 1px solid $textColor50;
    border-bottom: 1px dashed $textColor50;
  }
}

.subMenuItem:last-child {
  border: none;
}

.listItem {
  margin: 0 10px;
  border: none;

  @media (max-width: 1024px) {
    min-width: 100%;
    border-bottom: 1px solid $textColor50;
  }
}

.listItem:first-child {
  border-top: 1px solid $textColor50;

  @media (min-width: 1024px) {
    border: none;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  min-height: 100%;
  margin-left: 20px;

  @media (max-width: 1024px) {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 80px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.buttonsVisible {
  display: flex;
}
