@import 'Root/style/variables.scss';

.list {
  display: grid;
  grid-gap: 20px 10px;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  list-style: none;

  @media (max-width: $mediaSizeDesktop) {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.pagesNavigation {
  display: flex;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  color: $textColor50;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    color: $secondaryColor;
    background: white;
    border: 2px solid $secondaryColor;
  }

  &Toggle {
    color: white;
    font: 24px/24px 'Material Icons', Arial, sans-serif;
    background: $secondaryGradient;
  }

  &Next {
    &::before {
      content: '\e5c8';
    }
  }

  &Prev {
    &::before {
      content: '\e5c4';
    }
  }

  &Active {
    color: white;
    font-weight: bold;
    background: $primaryGradient;
  }
}

.paragraph {
  @include paragraph();
  display: block;
  margin-top: 10px;
}

.hide {
  display: none;
}
