@import 'Root/style/variables.scss';

.main {
  height: 830px;
  background-image: url('./images/landing-page.png');
  background-position: center;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 140px 21px;

  @media (max-width: $mediaSizeTablet) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.slogan {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
}

.text {
  @include paragraph;
  line-height: 24px;
  text-align: end;
}
