@import 'Root/style/variables.scss';

.main {
  background: url(../../public/images/landing-page.png);
  background-size: cover;
  background-position: center;
  height: 830px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px 21px;
}

.slogan {
  @include paragraph;
  width: 300px;
  margin-top: 690px;
  line-height: 24px;
  text-align: end;
}