@import '../../style/variables.scss';

.main {
  background: url(../../public/images/landing-page.png);
  background-size: cover;
  background-position: center;
  height: 830px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  padding: 70px 0 21px;
}

.slogan {
  @include paragraph;
  align-self: flex-end;
  width: 300px;
  margin-top: 628px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 24px;
  text-align: end;
}