@import 'Root/style/variables.scss';

.checkbox {
  color: $textColor50;
  line-height: 18px;
}

.filter {
  position: relative;
  display: flex;
}

.content {
  display: none;
}

.indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $textColor25;
  border-radius: 4px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  & + .indicator {
    border: 1px solid $primaryColor;
  }

  & + .indicator::before {
    position: absolute;
    top: 4.5px;
    left: 5px;
    width: 6px;
    height: 4px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-image: $primaryGradient;
    border-image-slice: 1;
    transform: rotate(135deg);
    content: '';
  }
}

.title {
  padding: 1px 0 0 30px;
  cursor: pointer;
}

.titleBold {
  padding: 1px 0 0 30px;
  font-weight: bold;
  cursor: pointer;
}

.description {
  padding: 5px 0 0 30px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}
