@import "../../style/variables.scss";

.btn {
  cursor: pointer;
  color: $primaryColor;
  @include h3;
  padding: 0;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease;
  }
}

.withBorder {
  min-width: 88px;
  height: 34px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, #bc9cff, #8ba4f9);
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: double 2px transparent;
  border-radius: 26px;
  display: inline-block;
}

.gradient {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  height: 34px;
  color: #fff;
  background-image: linear-gradient(to bottom, #bc9cff, #8ba4f9);
  border-radius: 22px;
  letter-spacing: 0.04rem;
}
