@import 'Root/style/variables.scss';

.container {
  display: flex;
  border: 1px solid $textColor25;
  border-radius: 4px;

  &:hover,
  &:focus-within {
    border-color: $textColor50;
  }
}

.field {
  width: 100%;
  padding: 14px;
  color: $textColor75;
  font-family: $primaryFont;
  text-overflow: ellipsis;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $textColor25;
  }

  &:hover,
  &:focus-within {
    &::placeholder {
      color: $textColor75;
    }
  }
}

.buttonArrow {
  @include text-gradient-fill($primaryGradient);

  padding: 10px;
  font: 24px/24px 'Material Icons';
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;

  &:disabled {
    @include text-gradient-fill($primaryGradientTranslucent);
  }

  &::before {
    content: '\e5c8';
  }
}
