@import 'Root/style/variables.scss';

.container {
  width: 380px;
  padding: 40px 30px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: $cardShadow;
}

.title {
  @include h1();
}

.name {
  margin-top: 20px;
}

.surname {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle {
  @include h3();
  margin-bottom: 5px;
}

.sign {
  display: block;
  color: red;
}

.field {
  width: 100%;
  padding: 13px;
  color: $textColor75;
  font-family: $primaryFont;
  text-overflow: ellipsis;
  border: 1px solid $textColor25;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $textColor25;
  }

  &:hover,
  &:focus {
    border-color: $textColor50;
  }

  &:hover,
  &:focus-within {
    &::placeholder {
      color: $textColor75;
    }
  }
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  column-gap: 10px;
}

.sex {
  margin-bottom: 10px;

  & > label {
    margin-right: 20px;
  }
}

.dateOfBirth {
  margin-top: 20px;
  margin-bottom: 20px;
}

.offers {
  margin-bottom: 20px;
}
