@import 'Root/style/variables.scss';

.container {
  width: 380px;
  padding: 40px 30px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: $cardShadow;
}

.title {
  @include h1();
}

.name {
  margin-top: 20px;
}

.surname {
  margin-top: 10px;
}

.field {
  width: 100%;
  padding: 13px;
  color: $textColor75;
  font-family: $primaryFont;
  text-overflow: ellipsis;
  border: 1px solid $textColor25;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: $textColor25;
  }

  &:hover,
  &:focus {
    border-color: $textColor50;
  }

  &:hover,
  &:focus-within {
    &::placeholder {
      color: $textColor75;
    }
  }
}

//================ TODO ===============//

.button {
  @include h3;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  background: linear-gradient(to bottom, $primaryColor, #8ba4f9);
  border: none;
  border-radius: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.4s ease;
  }
}

.directed {
  position: relative;
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, $primaryColor, #8ba4f9);
  border-radius: 22px;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 17px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-bottom: none;
    border-left: none;
    transform: translate(-50%, -50%) rotate(45deg);
    content: '';
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 15px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%);
    content: '';
  }

  @media (max-width: 420px) {
    padding-right: 15px;
    padding-left: 15px;

    &::before,
    &::after {
      content: none;
    }
  }
}

.big {
  padding-top: 14px;
  padding-bottom: 15px;
}
