@import 'Root/style/variables.scss';

.grid {
  @include container();
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 267px 1fr;
  width: 100%;
  padding: 30px 20px 78px;
}

.title {
  @include h1();
  margin-bottom: 22px;
}
