@import 'Root/style/variables.scss';

.container {
  min-width: 200px;
  max-width: 380px;
  padding: 40px 30px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: $cardShadow;

  @media (max-width: 390px) {
    padding: 25px 15px 20px;
  }
}

.title {
  @include h1;
  max-width: 320px;
}

.email {
  margin-top: 20px;
}

.field {
  @include input;
}

.buttonRecovery {
  margin: 20px 0;
}

.buttonBack {
  display: flex;
  justify-content: center;
}
