@import 'Root/style/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  max-width: 320px; //TODO
  column-gap: 20px;

  @media (max-width: 360px) {
    column-gap: 10px;
  }
}

.wrapper {
  display: flex;
  border: 1px solid $textColor25;
  border-radius: 4px;

  &:hover,
  &:focus-within {
    border-color: $textColor50;
  }
}

.header {
  @include h3;

  display: block;
  padding-bottom: 5px;
}

.field {
  @include input;

  padding: 12px 0 12px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  user-select: none;
  caret-color: transparent;

  &:hover,
  &:focus-within {
    &::placeholder {
      color: $textColor75;
    }
  }
}

.arrow {
  padding: 9px 9px 9px 0;
  color: $textColor50;
  font: 24px/24px 'Material Icons';
  cursor: pointer;
}

.arrowDown {
  &::before {
    content: '\e5cf';
  }
}

.arrowUp {
  &::before {
    content: '\e5ce';
  }
}