@import 'Root/style/variables.scss';

.like {
  position: relative;
  width: 40px;
  min-height: 20px;
  padding: 0;
  padding-left: 10px;
  color: $textColor;
  font: 10px/12px 'Montserrat', Arial, sans-serif;
  background-color: #fff;
  border: 1px solid $textColor25;
  border-radius: 10px;
}

.like::before {
  position: absolute;
  left: 10%;
  font: 10px/12px 'Material Icons', Arial, sans-serif;
  content: '\e87d';
}

.likeActive {
  color: $primaryColor;
  border-color: $primaryColor;
}

.likeActive::before {
  color: $primaryColor;
}
